/*
    Meteor Simple Avatar Management - Copyright (C) 2015  Aldric T
    aldric.dev@gmail.com

    License:  GNU General Public License

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
.ldrc-avatar {
    text-align: center;
    position: relative;
}

.ldrc-avatar-small {
    width: 100px;
    height: 100px !important;
}

.ldrc-avatar-small .avatar, .ldrc-avatar-small .ldrc-default-avatar {
    width: 100px;
    height: 100px !important;
}

.ldrc-avatar-medium {
    width: 150px;
    height: 150px !important;
}

.ldrc-avatar-medium .avatar, .ldrc-avatar-medium .ldrc-default-avatar {
    width: 150px;
    height: 150px !important;
}

.ldrc-avatar-large {
    width: 200px;
    height: 200px !important;
}

.ldrc-avatar-large .avatar, .ldrc-avatar-large .ldrc-default-avatar {
    width: 200px;
    height: 200px !important;
}

.ldrc-avatar-rounded .avatar, .ldrc-avatar-medium .ldrc-default-avatar {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

.ldrc-avatar-edit {
    position: relative;
    background-color: #C9B1B1;
    opacity: 0.9;
    border-radius: 4px;
}

.ldrc-avatar .load-image, .load-image-edit {
    width: 34px !important;
    height: 34px !important;
    margin: auto;
    margin-top: 35%;
}

.load-image-edit {
    position: absolute;
    display: none;
    top: 0;
    left: 35%;
}

.ldrc-avatar-edit .ldrc-avatar:hover {
    opacity: 0.6;
}

.ldrc-avatar-edit > div {
    position: relative;
}

.ldrc-avatar-edit .container .avatar-edit-label {
    position: absolute;
    left: 0;
    cursor: pointer;
    text-align: center;
    height: 30px;
    padding: 3px;
    border-radius: 4px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    background-color: #C9B1B1;
    opacity: 0.65;
    bottom: 3px;
}

.ldrc-avatar-edit .container:hover .avatar-edit-label {
    opacity: 0.95;
}

.ldrc-avatar-medium .container .avatar-edit-label {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.ldrc-avatar-small .container .avatar-edit-label {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.ldrc-avatar-small .container #ldrcSendAvatar {
    width: 25px !important;
    height: 25px !important;
}

.ldrc-avatar-edit .errors {
    display: none;
    color: red;
    background-color: initial;
    position: absolute;
    top: 0;
    background-color: grey;
    width: 100%;
    z-index: 5000;
    opacity: 0.9;
}

.ldrc-avatar-edit #avatarupload {
    margin: 0 !important;
    float: none !important;
    width: 100%;
    visibility: hidden;
}

#ldrcSendAvatar {
    background-color: #C9B1B1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    opacity: 0.65;
    border-radius: 3px;
}

/* Responsive design */
@media (max-width: 900px) {
    .ldrc-avatar-medium {
        width: 80px;
        height: 80px !important;
    }

    .ldrc-avatar-medium .avatar {
        width: 80px;
        height: 80px !important;
    }
}