<template name="ldrcAvatar">
	<div class="ldrc-avatar  {{ size }} {{ shape }} {{ class }}" {{ style }}>
		{{#if avatarLoaded }}
			<img class="avatar" {{ style }} {{ src }}>
			<span>{{ username }}</span>
		{{else}}
			<img class="load-image" src="/packages/aldricus_avatar/spinner-bluey.gif" >
		{{/if }}
	</div>
</template>