<template name="ldrcAvatarEdit">
	<div class="ldrc-avatar-edit {{ size }}">
		<div class="container {{ size }}">
			{{ >ldrcAvatar userid=currentUserId shape='square'}}
			{{#if currentUser }}
				{{ >ldrcCheckBtn id="ldrcSendAvatar" }}
				<input type="file" name="avatarupload" id="avatarupload">
				<span class="avatar-edit-label">Modifier</span>
			{{/if}}
		</div>
		<img class="load-image-edit" src="/packages/aldricus_avatar/spinner-bluey.gif" >
		<div class="errors"></div>
	</div>
</template>
<template name="ldrcCheckBtn" >
	<input id="{{ id }}" class="{{ class }} ldrc-img" type="image" src="/packages/aldricus_avatar/check50.png" alt="Check" title="Check"
	data-ng-click="{{ ngClick }}"
	data-ng-touch="{{ ngTouch }}"
	/>
</template>